@using HS_14_MVC.Application.DTOs.PublisherDTOs
@using HS_14_MVC.Domain.Utilities.Concretes
@model IEnumerable<HS_14_MVC.UI.Areas.Admin.Models.PublisherVMs.AdminPublisherListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New Publisher</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a class="btn btn-info" href="@Url.Action("Update", new { id = item.Id })">Update</a>
                        <a class="btn btn-secondary" href="@Url.Action("Details", new { id = item.Id })">Details</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            var message = "";
            if (Model is ErrorDataResult<PublisherDTO> errorResult)
            {
                message = errorResult.Messages;
            }
            else if (Model is SuccessDataResult<PublisherDTO> successResult)
            {
                message = successResult.Messages;
            }
            else if (Model is DataResult<PublisherDTO> dataResult)
            {
                message = dataResult.Messages;
            }
            <tr>
                <td colspan="3">@Html.Raw(message)</td>
            </tr>
        }
    </tbody>
</table>
